<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LudoengineServlet</servlet-name>
        <servlet-class>com.google.ludo.appengine.jpademo.ludoengine.LudoengineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LudoengineServlet</servlet-name>
        <url-pattern>/LudoengineServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <persistence-context-ref>
        <persistence-context-ref-name>persistence/javaseJPAPU</persistence-context-ref-name>
        <persistence-unit-name>javaseJPAPU</persistence-unit-name>
    </persistence-context-ref>
    
    
    
<env-entry>
    <env-entry-name>welcomeMessage</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Hello World from env-entry!</env-entry-value>
</env-entry>
</web-app>
